<%- include ../home/hmIndexTop.ejs %>
<meta name="keywords" content="babuge,rhino" />
<meta name="description" content="rhino模型_页面" />
<link rel="stylesheet" href="css/home.css" />
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/home.js"></script>
</head>
  <body >
    <div class="allCont" id="allCont" ></div>
      <div class="coutH">
      <!--导入公共模板header-->
        <%- include ../home/hmHeader.ejs %>
        <!--导入公共模板main_nav-->
        <%- include ../home/hmMainNav.ejs %>
        <!--导入响应内容模版sub_cont-->
        <%- include ../home/hmSubCont.ejs %>
      </div>
    
  </body>
</html>