        <!--ad 广告-->
        <!--如果不是广告也该有个标题-->
        <div class="ad_title" >
            <ul class="adTitBar cle">
                <li class="adTitCont lt">新热快照</li>
                <li class="adTitMore lt" id="adMore"></li>
            </ul>
        </div>
        <div class="ad cle" id="ad">
            <div class="w_3"><a href="#" title="babuge_hot" ><img src="images/header_bg.jpg" alt="" class="lt"></a></div>
            <div class="w_3"><a href="#" title="babuge_hot" ><img src="images/header_bg.jpg" alt="" class="lt"></a></div>
            <div class="w_3"><a href="#" title="babuge_hot" ><img src="images/header_bg.jpg" alt="" class="lt"></a></div>
            <div class="w_3"><a href="#" title="babuge_hot" ><img src="images/header_bg.jpg" alt="" class="lt"></a></div>
        </div>