<nav id="mainNav" class="main_nav" >
    <div class="scroll_bar">
        <ul class="navBox" id='navScroll'>
            <% if(title=='八部阁'){ %>
                <li class="navBar defualt active"><a href="/" alt=''> 首页</a></li>
            <%}else{%>
                <li class="navBar defualt"><a href="/" alt=''> 首页</a></li>
            <%}%>

            <% if(title=='犀牛模型'){ %>
                <li class="navBar 
                defualt active"><a href="Rhino" alt=''> Rhino</a></li>
            <%}else{%>
                <li class="navBar defualt"><a href="Rhino" alt=''> Rhino</a></li>
            <%}%>

            <% if(title=='3dMax模型'){ %>
                <li class="navBar defualt active"><a href="3dMax" alt=''> 3dMax</a></li>
            <%}else{%>
                <li class="navBar defualt"><a href="3dMax" alt=''> 3dMax</a></li>
            <%}%>

            <% if(title=='Maya模型'){ %>
                <li class="navBar defualt active"><a href="Maya" alt=''>Maya</a></li>
            <%}else{%>
                <li class="navBar defualt"><a href="Maya" alt=''>Maya</a></li>
            <%}%>

            <% if(title=='WebGL2演示'){ %>
                <li class="navBar defualt active"><a href="WebGL2" alt=''>WebGL2</a></li>
            <%}else{%>
                <li class="navBar defualt"><a href="WebGL2" alt=''>WebGL2</a></li>
            <%}%>

            <% if(title=='Photoshop'){ %>
                <li class="navBar defualt active"><a href="Photoshop" alt=''>Photoshop</a></li>
            <%}else{%>
                <li class="navBar defualt"><a href="Photoshop" alt=''>Photoshop</a></li>
            <%}%>
           
        </ul>
        <div class="add_bar"><span class="add_btn">+++</span></div>
    </div>
</nav>