<!--最佳分享-->
<div class="shareBar">
    <div class="shareTitle cle">
        <div class="adTitCont lt">最佳分享</div>
        <div class="adTitMore lt" id="shareMore"></div>
    </div>
    <ul class="shareUl cle">
        <li class="shareCont w_3">
            <div class="shareImg"><img src="http://bbg.babuge.com/images/body.jpg" alt=""></div>
            <div class="subTitBar">
                <div class="tit">八部阁qeqeqaadadsaaaaaaaaaaaaaaaaaaaaaassssssssssss</div>
                <ul class="subtit cle">
                    <li class="w_6 author">八部阁主sssssssssssssssssssssssss</li>
                    <li class="w_6 time">17-6-27 22:34:29ssssssssssssssssssssssssssssssssssssssssssss</li>
                </ul>
            </div>
        </li>        
        <li class="shareCont w_3">
            <div class="shareImg"><img src="http://bbg.babuge.com/images/body.jpg" alt=""></div>
            <div class="subTitBar">
                <div class="tit">八部阁</div>
                <ul class="subtit cle">
                    <li class="w_6 author">八部阁主</li>
                    <li class="w_6 time">17-6-27 22:34:29</li>
                </ul>
            </div>
        </li>         
        <li class="shareCont w_3">
            <div class="shareImg"><img src="http://bbg.babuge.com/images/body.jpg" alt=""></div>
            <div class="subTitBar">
                <div class="tit">八部阁</div>
                <ul class="subtit cle">
                    <li class="w_6 author">八部阁主</li>
                    <li class="w_6 time">17-6-27 22:34:29</li>
                </ul>
            </div>
        </li>         
        <li class="shareCont w_3">
            <div class="shareImg"><img src="http://bbg.babuge.com/images/body.jpg" alt=""></div>
            <div class="subTitBar">
                <div class="tit">八部阁</div>
                <ul class="subtit cle">
                    <li class="w_6 author">八部阁主</li>
                    <li class="w_6 time">17-6-27 22:34:29</li>
                </ul>
            </div>
        </li> 

    </ul>
</div>