<div class="subCont cle" id="sub_cont" >
    <div class="subContLeft lt">
        <!--banner-->
        <div class="bannerBar cle">
            <div class="w_9 banner" id="banner">123</div>
            <div class="w_3 bannerList">
                <ul class="ban_tit defualt">
                    <li class="list frist active" >123</li>
                    <li class="list">我查内what 啊 有 doing？</li>
                    <li class="list">234</li>
                    <li class="list">3423</li>
                    <li class="list">3131</li>
                    <li class="list">12313</li>
                    <li class="list">111rd</li>
                </ul>
            </div>
        </div>
        <!--ad 广告-->
        <%- include ./hmContAd.ejs %>
        <!--最佳分享-->
        <%- include ./hmShare.ejs %>
    </div>
    <div class="subContRight lt">
        234
    </div>
</div>